body {
    margin: 0px;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}
nav {
    padding: 25px;
}
a {
    color: white;
    margin: 40px;
    padding: 25px;
    font-size: 1.5em;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    color: steelblue;
    text-align: center;
    margin: 50px 0;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}
p {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}