@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Shadows+Into+Light&family=Stick+No+Bills:wght@700&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}
#logo_link {
    grid-column: 1/2;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
} 
nav a {
    text-decoration: none;
    color: #1C4D8C;
    text-align: center;
    padding: 35px;
    font-family: "Shadows Into Light", Times, serif;
    font-size: 1.5em;
}
nav a:hover {
    color: #457324;
    background-color: #96B9D9;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero_img {
    width: 100%;
}
#hero_msg h1 {
    text-align: center;
}
.home_title {
    color: #FFFBC8;
    font-family: "Stick No Bills", Tahoma, sans-serif;
    font-size: 2.3em;
    margin-top: 10px;
}
.button_box {
    text-align: center;
}
.dates {
    background-color: #1C4D8C;
    color: #FFFBC8;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Shadows Into Light", Times, serif;
}
.dates:hover {
    background-color: #FFFBC8;
    color: #1C4D8C;
}
#description {
    background-color: #FFFBC8;
    color: #1C4D8C;
    font-size: 1.7em;
    margin: 0 auto;
    padding: 7%;
    font-family: 'Shadows Into Light', Times, serif;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 4fr;
}
#extreme {
    font-family: "Stick No Bills", Tahoma, sans-serif;
    color: #1C4D8C;
    font-size: 1.5em;
    grid-column: 6/9;
    grid-row: 1/2;
}
.mountains {
    grid-column: 1/6;
    grid-row: 2/3;
}
.msg {
    background-color: #96B9D9;
    grid-column: 7/13;
    grid-row: 2/3;
    color: #1C4D8C;
    text-align: center;
    font-family: "Shadows Into Light", Times, serif;
    font-size: 1.4em;
}
.msg h2 {
    font-family: "Stick No Bills", Tahoma, sans-serif;
    font-size: 1.2em;
    margin-top: 90px;
}
footer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}
footer {
    background-color: #457324;
    color: #FFFBC8;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Shadows Into Light", Times, serif;
    margin-top: 30px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #FFFBC8;
    text-decoration: none;
}
footer a:hover {
    color: #96B9D9;
}
footer .social img {
    padding-top: 15px;
}
/* Style for prices/dates page */
#dates-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #96B9D9;
}
#prices_heading_box {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.prices_title {
    color: #1C4D8C;
    font-family: "Stick No Bills", Tahoma, sans-serif;
    font-size: 2.3em;
    margin-top: 10px;
    text-align: center;
}
.certification {
    background-color: #1C4D8C;
    color: #FFFBC8;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Shadows Into Light", Times, serif;
}
#price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#iceland_trip_img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
#switzerland_trip_img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.dates-header {
    color: #457324;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    font-family: "Stick No Bills", Tahoma, sans-serif;
}
.dates-columns {
    background-color: #96B9D9;
    color: #1C4D8C;
    grid-column-start: 1;
    font-size: 2em;
    font-family: "Shadows Into Light", Times, serif;
    width: 60%;
    margin: 10px 20%;
    text-align: center;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}